{% extends 'layout/master-layout.html.twig' %}

{% block title %}Spectacles - Gigastore
{% endblock %}


{% block body %}
	<div class="row">
		<div class="col-md-8">
			<h2>{{ livre.titre }}</h2>
			<div class="table-responsive">
				<table class="table table-striped w-75">
					<tr>
						<th>Référence</th>
						<td>{{ livre.id }}</td>
					</tr>
					<tr>
						<th>Auteur</th>
						<td>
							<strong>{{ livre.auteur }}</strong>
						</td>
					</tr>
					<tr>
						<th>Éditeur</th>
						<td>
							<strong>{{ livre.editeur }}</strong>
						</td>
					</tr>
					<tr>
						<th>Collection</th>
						<td>
							<strong>{{ livre.collection }}</strong>
						</td>
					</tr>
				</table>
			</div>

			<h4 class="mt-4">Résumé</h4>
			<p>{{ livre.description }}</p>
		</div>

		<div class="col-md-4 ">
			<div class="text-center">
				<img src="{{ asset('images/livres/zooms/' ~ livre.photo) }}" class="img-fluid shadow-sm mb-3 text-center" alt="{{ livre.titre }}">
			</div>
			<table class="table table-striped">
				<tr>
					<th>Format</th>
					<td>{{ livre.format }}</td>
				</tr>
				<tr>
					<th>Pages</th>
					<td>
						<strong>{{ livre.pages }}</strong>
					</td>
				</tr>
				<tr>
					<th>Poids</th>
					<td>{{ livre.poids }}
						kg</td>
				</tr>
				<tr>
					<th>Livraison</th>
					<td>{{ livre.getDelaiDeLivraison() }}</td>
				</tr>
			</table>
		</div>
	</div>

	<h2 class="mt-5 mb-3">Laissez un commentaire !</h2>
	{% form_theme vueFormulaire 'bootstrap_5_horizontal_layout.html.twig' %}
	{{ form(vueFormulaire) }}


	<h2>Commentaire des lecteurs</h2>
	{% if commentaires %}
		{% for commentaire in commentaires %}
			<div class="bg-primary bg-opacity-50 w-100 text-center mt-3 p-2">
				<div class="row">
					<aside class="col-md-1 order-2 order-md-1">
						<i class="bi bi-person-circle fs-2"></i>
					</aside>
					<main class="col-md-11 order-1 order-md-2 text-start ">
						<p>Par
							{{commentaire.pseudonyme}}</p>
						<hr>
						<p>{{commentaire.commentaire}}</p>
						<p class="small">Posté le
							{{ commentaire.dateCommentaire|date('d/m/Y') }}</p>

					</main>
				</div>
			</div>
		{% endfor %}
	{% else %}
		<div class="bg-primary bg-opacity-50 w-100 text-center mt-3">
				<p>Aucun commentaires</p>
			</div>
	{% endif %}
	
		


	{% endblock %}
